* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(34,37,74);
  color: white;
}

.input-field {
  background-color: rgb(55,59,104);

  .input {
    border: none;
    outline: none;
    border-radius: 1rem 0 0 1rem;
  }

  .search-btn {
    border: none;
    outline: none;
    border-radius: 0 1rem 1rem 0;
    transition: 300ms;
  }
}

.movie-item {
  margin: .5rem;
  border-radius: 1rem;

  img {
    height: 450px;
    cursor: pointer;
  }
}

.movie-info {
  background-color: rgb(255, 255, 255, 0.05);
  height: 6rem;
  max-width: 100% !important;
  padding: .75rem;
}

.movie-title {
  max-width: 10rem;
}

.movie-rating {
  background-color: rgb(255, 255, 255, 0.05);
  height: max-content;
  margin: 2px;
  font-weight: 600;
}
.movie-rating.green {
  color: green;
}
.movie-rating.orange {
  color: orange;
}
.movie-rating.red {
  color: red;
}

$padding-modal: 1.5rem;

.info-modal {
  display: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-60%);
  background-color: rgba(255, 255, 255, 0.1);
  padding: $padding-modal;
  border-radius: 1rem;
  max-width: 30rem;
}

.info-modal.active {
  display: block;
}

.modal-shadow {
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.modal-shadow.active {
  pointer-events: all;
  background-color: rgba(0, 0, 0, .75);
}

.close-modal-btn {
  right: $padding-modal;
  top: $padding-modal;
  border: none;
  outline: none;
  background-color: transparent;

  svg {
    fill: white;
  }
}